<h1>Toutes les annonces</h1>


<% @vehicules.each do |vehicule| %>

  <div style="display: flex">
    <p style="margin-right: 15px;"><%= vehicule.description %></p>
    <%= link_to "Réserver !" , new_vehicule_booking_path(vehicule) %>
  </div>

<% end %>
