.navbar-jacky {
  justify-content: space-between;
  background: rgb(212, 250, 253);
}

.navbar-jacky .navbar-collapse {
  flex-grow: 0;
}

.navbar-jacky .navbar-brand img {
  width: 40px;
}

.navbar-jacky #logo {
  margin-top: -20px;
  margin-bottom: -20px;
  // margin-left: 10px;
  width: 90px;
}

.nav-item {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}

.avatar {
  margin-left: 10px;
  // margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#btn-login {
  background-color: rgb(212, 250, 253);
  border: 1px solid black;
  border-radius: 8px;
  margin-left: 10px;
  margin-right: 10px;
}
